/* #region Row and Column Visualization Styles. For Assisting with Layout Only */

/* .row {
  border: solid 2px red;
}

.col {
  border: solid 3px royalblue;
  background: lightblue;
} */

/* #endregion Row and Column visualization styles. For assisting with layout only */

/* #region Responsive Styles */

@media (max-width: 992px) {

  /** AlbumTracks component */
  .album-tracks-thead {
    text-align: center;
  }
  /** AlbumReleasesHeader component */
  .album-releases-header-h5-col {
    text-align: center;
    padding-bottom: .3em;
  }
  .album-releases-header-button-col {
    text-align: center;
    margin-top: .3em;
  }
  .album-releases-header-button {
    float: none !Important;
  }
  /** AlbumReleaseTracks component */
  .album-release-tracks-thead {
    text-align: center;
  }
  .header {
    margin-bottom: 3em;
  }
}

@media (min-width: 1500px) {
  /**Search component */
  .search-form-col {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-button {
    /* float: left; */
    margin-left: -6.5em;
  }
} 

/* #endregion Responsive Styles */

/* #region Vendor Prefix CSS Properties */

::-webkit-input-placeholder {
  font-style: italic;
  font-size: 1rem;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-style: italic;
  font-size: 1rem;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic;
  font-size: 1rem;
}

:-ms-input-placeholder {
  font-style: italic;
  font-size: 1rem;
}

/* #endregion Vendor Prefix CSS Properties */

/* #region Custom Page Link Styles */

.page-link {
  outline: none !Important;
  box-shadow: none !Important;
}

/* #endregion Custom Page Link Styles */

/* #region Custom Image Styles */

.overflow {
  overflow: hidden;
}

/* #endregion Custom Image Styles */

/* #region Custom Pagination Component Styles */

.pagination>li {
  box-shadow: .3px .3px 4px rgba(0, 0, 0, 0.253);
}

.pagination>li>a {
  background-color: white;
  color: #000000;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  color: white;
  background-color: #343A40;
  border-color: #ddd;
}

.pagination>.active>a {
  color: white;
  background-color: #343A40 !Important;
  border: solid 1px #6C757D !Important;
  box-shadow: .3px .3px 4px #6C757D !Important;
}

.pagination>.active>a:hover {
  background-color: #343A40 !Important;
  border: solid 1px #6C757D;
}

/* #endregion Custom Pagination Component Styles */

/* #region Form Styles */

/** Global Form Styles */

.global-form-feedback {
  color: rgb(219, 43, 43);
}

/** Sign-In & Sign-Up Auth Forms */

/* Mobile styles */

.authform-mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  padding: 0 .8em 1.8em .8em;
  border: 1px solid #cacdd1;
  border-radius: 5px;
  box-shadow: 1px 10px 20px 1px rgba(0, 0, 0, 0.253);
  font-size: 1em;
}

.authform-header-mobile {
  font-size: 1.3em;
  text-align: center;
  padding-bottom: .5em;
}

.authform-logo-mobile {
  margin-top: 1.5em;
  margin-bottom: 2em;
  max-width: 100%;
  max-height: 100%;
}

.authform-pw-row-mobile {
  margin-top: -1em;
}

/* Desktop styles */

.authform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 3.5em 1.5em 3.5em;
  border: 1px solid #cacdd1;
  border-radius: 5px;
  box-shadow: 1px 10px 20px 1px rgba(0, 0, 0, 0.253);
}

.authform-logo {
  margin-bottom: 2em;
}

.authform-header {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1em;
}

.authform-row {
  margin-top: 3em;
}

.authform-link-col {
  display: flex;
  align-items: center;
  margin-top: 1.2em;
}

.authform-link-col>p {
  font-size: .85rem;
  margin-top: auto;
  margin-bottom: auto;
}

.authform-link-col>button {
  font-size: .85rem;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.authform-pw-row {
  margin-top: -1em;
}

.authform-pw-link-col {
  display: flex;
  align-items: center;
}

.authform-pw-link-col>p {
  font-size: .85rem;
  margin-top: auto;
  margin-bottom: auto;
}

.authform-pw-link-col>button {
  font-size: .85rem;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

/** Confirm Account & Reset PW Auth Forms */

/* Mobile Styles */

.authaccount-form-mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  padding: 0 .8em 1.8em .8em;
  border: 1px solid #cacdd1;
  border-radius: 5px;
  box-shadow: 1px 10px 20px 1px rgba(0, 0, 0, 0.253);
  font-size: 1em;
}

.authaccount-logo-mobile {
  margin-top: 2.5em;
  margin-bottom: 2em;
  max-width: 100%;
  max-height: 100%;
  padding-left: .5em;
  padding-right: .5em;
}

.authaccount-header-mobile {
  font-size: 1.1em;
  text-align: center;
  padding-bottom: .5em;
}

.authaccount-authcode-row-mobile {
  margin-top: -1em;
}

.authaccount-authcode-link-col-mobile {
  display: flex;
  align-items: center;
}

.authaccount-authcode-link-col-mobile>p {
  font-size: .85rem;
  margin-top: auto;
  margin-bottom: auto;
}

.authaccount-authcode-link-col-mobile>button {
  font-size: .85rem;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.authaccount-authcode-row-mobile {
  margin-top: -1em;
}

/*Desktop Styles */

.authaccount-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3em 3.5em 1.5em 3.5em;
  border: 1px solid #cacdd1;
  border-radius: 5px;
  box-shadow: 1px 10px 20px 1px rgba(0, 0, 0, 0.253);
}

.authaccount-logo {
  margin-bottom: 2.2em;
}

.authaccount-header {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 1em;
}

.authaccount-authcode-row {
  margin-top: -1em;
}

.authaccount-authcode-col {
  display: flex;
  align-items: center;
}

.authaccount-authcode-col>p {
  font-size: .85rem;
  margin-top: auto;
  margin-bottom: auto;
}

.authaccount-authcode-col>button {
  font-size: .85rem;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.authaccount-link-row {
  margin-top: 2.1em;
}

.authaccount-link-col {
  display: flex;
  align-items: center;
  margin-top: .5em;
}

.authaccount-link-col>p {
  font-size: .85rem;
  margin-top: auto;
  margin-bottom: auto;
}

.authaccount-link-col>button {
  font-size: .85rem;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.authaccount-resendcode-row {
  margin-top: -.1em;
}

.authaccount-resendcode-col {
  display: flex;
}

.authaccount-resendcode-col>button {
  font-size: .85rem;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: -.8em;
}

/* #endregion Form Styles */

/* #region App Component Styles */

.app-modal {
  padding-top: 1em;
}

/* #endregion App Component Styles */

/* #region Header Styles*/

.header-btn {
  height: 2.5em;
}

/* #endregion Header Styles*/

/* #region Footer Styles*/

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

.footer {
  padding-bottom: 1em;
  margin-top: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-col {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;  
}

.footer-p {
  color: #E9ECEF;
  font-size: 1em;
}

/* #endregion Footer Styles*/

/* #region Dashboard Styles */

.dashboard-col {
  padding-top: 1.2em;
  padding-bottom: 2em;
}

.dashboard-image {
  box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.253)
}

/* #endregion Dashboard Styles */

/* #region Search Component Styles */

.search-jumbotron {
  text-align: center;
  padding-top: 2.5em;
  padding-bottom: 1.8em;
  margin-bottom: 3em;
}

.search-jumbotron h1 {
  font-size: 2.5rem;
}

.search-jumbotron p {
  font-size: 1.5rem;
  padding-top: .3em;
}

.search-form {
  padding-top: .5em;  
}

.search-form-col {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -2em;
}

.search-button-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button {
  padding-top: .5em;
  padding-bottom: .5em;
}

/* #endregion Search Component Styles */

/* #region Search Results Component Styles */

.search-results-col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: .5em;
  padding-bottom: .5em;
}

.search-results-card {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 18em;
}

.search-results-card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253);
}

.search-results-card-img {
  height: 18em;
  transform: scale(1);
  transition: transform 0.5s ease;
}

/* .search-results-card-img:hover {
  transform: scale(1.8);
} */

/* #endregion Search Results Component Styles */

/* #region Album Component Styles */

.album-image-col {
  justify-content: center;
}

.album-details {
  margin-top: 2em;
}

.album-details p {
  margin: 0em;
  font-size: 1rem;
}

.album-master-logo-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.album-master-logo {
  max-width: 50%;
  max-height: 50%;
}

.album-images-button {
  margin-top: .70em;
}

.album-add-buttons-col {
  margin-top: .5em;
}

.album-add-buttons-row {
  margin-top: 2em;
}

/* #endregion Album Component Styles */

/* #region AlbumTracks Component Styles */

.album-tracks-row {
  margin-top: 2.2em;
}

.album-tracks-thead {
  font-weight: 400;
  color: #FFFFFF;
  background-color: #343A40;
  padding: .3em .3em .3em .5em;
}

/* #endregion AlbumTracks Component Styles */

/* #region AlbumReleasesHeader Component Styles */

.album-releases-header-row {
  margin-top: 2em;
}

.album-releases-header-h5-col {
  background-color: #343A40;
  padding-top: .1em;
}

.album-releases-header-button-col {
  background-color: #343A40;
  padding-top: .2em;
  padding-bottom: .2em;
}

.album-releases-header-thead {
  display: inline-flex;
  font-weight: 400;
  background-color: #343A40;
  color: #FFFFFF;
  margin-top: .3em;
  margin-bottom: .2em;
}

.album-releases-header-button {
  margin-top: .2em;
  margin-right: .4em;
  margin-bottom: .2em;
  float: right;
}

/* #endregion AlbumReleasesHeader Component Styles */

/* #region AlbumReleases Component styles */

.album-releases-img {
  height: 5em;
  width: 5em;
}

/* #endregion AlbumReleases Component styles */

/* #region AlbumRelease Component Styles */

.album-release-image-col {
  justify-content: center;
}

.album-release-details {
  margin-top: 2em;
}

.album-release-details p {
  margin: 0em;
  font-size: 1rem;
}

.album-release-images-button {
  margin-top: .70em;
}

.album-release-add-buttons-col {
  margin-top: .5em;
}

.album-release-add-buttons-row {
  margin-top: 2em;
}

/* #endregion AlbumRelease Component Styles */

/* #region AlbumReleaseTracks Component Styles */

.album-release-tracks-row {
  margin-top: 2.2em;
}

.album-release-tracks-thead {
  font-weight: 400;
  color: #FFFFFF;
  background-color: #343A40;
  padding: .3em .3em .3em .5em;
}

/* #endregion AlbumReleaseTracks Component Styles */

/* #region User Library Styles*/

.user-library-jumbotron {
  text-align: center;
  padding-top: 2.5em;
  padding-bottom: 1.5em;
  margin-bottom: 3em;
}

.user-library-jumbotron h1 {
  font-size: 2.5rem;
}

.user-library-jumbotron p {
  font-size: 1.5rem;
  padding-top: .3em;
}

.user-library-card {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  width: 18em;
}

.user-library-card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253);
}

.user-library-card-img {
  height: 18em;
  transform: scale(1);
  transition: transform 0.5s ease;
}

.user-library-btn-group {
  float: right;
  padding-top: .6em;
}

.user-library-album-master-logo {
  max-width: 80%;
  max-height: 80%;
}

.user-library-empty {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 5em;
}

.user-library-empty h1 {
  font-size: 1.3rem;
  margin-bottom: 1em;
}

/* .user-library-card-img:hover {
  transform: scale(1.8);
} */

/* #endregion User Library Styles*/