/* #region Row and Column visualization styles. For assisting with layout only */

.row {
  border: solid 2px red;
}

.col {
  border: solid 3px royalblue;
  background: lightblue;
}

/* #endregion Row and Column visualization styles. For assisting with layout only */

/* #region Responsive styles */

@media (max-width: 768px) {
  /* Form styles */
}

@media (max-width: 992px) {
  /* AlbumTracks component */
  .album-tracks-thead {
    text-align: center;
  }
  /* AlbumReleasesHeader component */
  .album-releases-header-h5-col {
    text-align: center;
    padding-bottom: .3em;
  }
  .album-releases-header-button-col {
    text-align: center;
    margin-top: .3em;
  }
  .album-releases-header-button {
    float: none !Important;
  }
  /* AlbumReleaseTracks component */
  .album-release-tracks-thead {
    text-align: center;
  }
}

/* #endregion Responsive styles */

/* #region Vendor prefix CSS properties */

::-webkit-input-placeholder {
  font-style: italic;
  font-size: 1rem;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-style: italic;
  font-size: 1rem;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic;
  font-size: 1rem;
}

:-ms-input-placeholder {
  font-style: italic;
  font-size: 1rem;
}

/* #endregion Vendor prefix CSS properties */

/* #region Custom page link styles */

.page-link {
  outline: none !Important;
  box-shadow: none !Important;
}

/* #endregion Custom page link styles */

/* #region Custom pagination component styles */

.pagination>li {
  box-shadow: .3px .3px 4px rgba(0, 0, 0, 0.253);
}

.pagination>li>a {
  background-color: white;
  color: #000000;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  color: white;
  background-color: #343A40;
  border-color: #ddd;
}

.pagination>.active>a {
  color: white;
  background-color: #343A40 !Important;
  border: solid 1px #6C757D !Important;
  box-shadow: .3px .3px 4px #6C757D !Important;
}

.pagination>.active>a:hover {
  background-color: #343A40 !Important;
  border: solid 1px #6C757D;
}

/* #endregion Custom pagination component styles */

/* #region Form styles */

/** Auth Forms */

.auth-form-mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  padding: 0 .8em 1.8em .8em;
  border: 1px solid #cacdd1;
  border-radius: 5px;
  box-shadow: 1px 10px 20px 1px rgba(0, 0, 0, 0.253);
  font-size: 1em;
}

.auth-header-mobile {
  font-size: 1.3em;
  text-align: center;
  padding-bottom: .5em;
}

.auth-form-logo-mobile {
  margin-top: 1.5em;
  margin-bottom: 2em;
  max-width: 100%;
  max-height: 100%;
}

.auth-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 3.5em 1.5em 3.5em;
  border: 1px solid #cacdd1;
  border-radius: 5px;
  box-shadow: 1px 10px 20px 1px rgba(0, 0, 0, 0.253);
}

.auth-form-logo {
  margin-bottom: 2em;
}

.auth-header {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1em;
}

.auth-form-row {
  margin-top: 3em;
}

.auth-link-col {
  display: flex;
  align-items: center;
  margin-top: 1.2em;
}

.auth-link-col>p {
  font-size: .85rem;
  margin-top: auto;
  margin-bottom: auto;
}

.auth-link-col>button {
  font-size: .85rem;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.auth-pw-form-row {
  margin-top: -1.3em;
}

.auth-pw-link-col {
  display: flex;
  align-items: center;
}

.auth-pw-link-col>p {
  font-size: .85em;
  margin-top: auto;
  margin-bottom: auto;
}

.auth-pw-link-col>button {
  font-size: .85em;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

/** Sign Up Forms */

/* #endregion Form styles */

/* #region Search Component Styles */

.search-jumbotron {
  text-align: center;
}

.search-h1 {
  font-size: 1.5rem;
}

.search-p {
  font-size: 1.5rem;
  padding-top: .5em;
}

.search-form {
  padding-top: .5em;
}

/* #endregion Search Component Styles */

/* #region Search Results Component Styles */

.search-results-col {
  padding-top: .5em;
  padding-bottom: .5em;
}

.overflow {
  overflow: hidden;
}

.search-results-card {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 18em;
}

.search-results-card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253);
}

.search-results-card-img {
  height: 18em;
  transform: scale(1);
  transition: transform 0.5s ease;
}

.search-results-card-img:hover {
  transform: scale(1.8);
}

.search-results.button {
  background-color: lightslategray;
}

/* #endregion Search Results Component Styles */

/* #region Album Component Styles */

.album-image-col {
  justify-content: center;
}

.album-details {
  margin-top: 2em;
}

.album-details p {
  margin: 0em;
  font-size: 1rem;
}

.album-master-logo-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.album-master-logo {
  max-width: 50%;
  max-height: 50%;
}

.album-images-button {
  margin-top: .70em;
}

.album-add-buttons-col {
  margin-top: .5em;
}

.album-add-buttons-row {
  margin-top: 2em;
}

/* #endregion Album Component Styles */

/* #region AlbumTracks Component Styles */

.album-tracks-row {
  margin-top: 2.2em;
}

.album-tracks-thead {
  font-weight: 400;
  color: #FFFFFF;
  background-color: #343A40;
  padding: .3em .3em .3em .5em;
}

/* #endregion AlbumTracks Component Styles */

/* #region AlbumReleasesHeader Component Styles */

.album-releases-header-row {
  margin-top: 2em;
}

.album-releases-header-h5-col {
  background-color: #343A40;
  padding-top: .1em;
}

.album-releases-header-button-col {
  background-color: #343A40;
  padding-top: .2em;
  padding-bottom: .2em;
}

.album-releases-header-thead {
  display: inline-flex;
  font-weight: 400;
  background-color: #343A40;
  color: #FFFFFF;
  margin-top: .3em;
  margin-bottom: .2em;
}

.album-releases-header-button {
  margin-top: .2em;
  margin-right: .4em;
  margin-bottom: .2em;
  float: right;
}

/* #endregion AlbumReleasesHeader Component Styles */

/* #region AlbumReleases Component styles */

.album-releases-img {
  height: 5em;
  width: 5em;
}

/* #endregion AlbumReleases Component styles */

/* #region AlbumRelease Component Styles */

.album-release-image-col {
  justify-content: center;
}

.album-release-details {
  margin-top: 2em;
}

.album-release-details p {
  margin: 0em;
  font-size: 1rem;
}

.album-release-images-button {
  margin-top: .70em;
}

.album-release-add-buttons-col {
  margin-top: .5em;
}

.album-release-add-buttons-row {
  margin-top: 2em;
}

/* #endregion AlbumRelease Component Styles */

/* #region AlbumReleaseTracks Component Styles */

.album-release-tracks-row {
  margin-top: 2.2em;
}

.album-release-tracks-thead {
  font-weight: 400;
  color: #FFFFFF;
  background-color: #343A40;
  padding: .3em .3em .3em .5em;
}

/* #endregion AlbumReleaseTracks Component Styles */