/** Row and Column visualization styles. For assisting with layout only */

.row {
  border: solid 2px red;
}

.col {
  border: solid 3px royalblue;
  background: lightblue;
}

/** Responsive styles */

@media (max-width: 992px) {
  /* AlbumTracks component */
  .album-tracks-thead {
    text-align: center;
  }
  /* AlbumReleasesHeader component */
  .album-releases-header-h5-col {
    text-align: center;
    padding-bottom: .3em;
  }
  .album-releases-header-button-col {
    text-align: center;
    margin-top: .3em;
  }
  .album-releases-header-button {
    float: none !Important;
  }
  /* AlbumReleaseTracks component */
  .album-release-tracks-thead {
    text-align: center;
  }
}

/** Vendor prefix CSS properties */

::-webkit-input-placeholder {
  font-style: italic;
  font-size: 1rem;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-style: italic;
  font-size: 1rem;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic;
  font-size: 1rem;
}

:-ms-input-placeholder {
  font-style: italic;
  font-size: 1rem;
}

/** Custom page link styles */

.page-link {
  outline: none !Important;
  box-shadow: none !Important;
}

/** Custom pagination component styles */

.pagination>li {
  box-shadow: .3px .3px 4px rgba(0, 0, 0, 0.253);
}

.pagination>li>a {
  background-color: white;
  color: #000000;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  color: white;
  background-color: #343A40;
  border-color: #ddd;
}

.pagination>.active>a {
  color: white;
  background-color: #343A40 !Important;
  border: solid 1px #6C757D !Important;
  box-shadow: .3px .3px 4px #6C757D !Important;
}

.pagination>.active>a:hover {
  background-color: #343A40 !Important;
  border: solid 1px #6C757D;
}

/** Search Component Styles */

.search-jumbotron {
  text-align: center;
}

.search-h1 {
  font-size: 1.5rem;
}

.search-p {
  font-size: 1.5rem;
  padding-top: .5em;
}

.search-form {
  padding-top: .5em;
}

/** Search Results Component Styles */

.search-results-col {
  padding-top: .5em;
  padding-bottom: .5em;
}

.overflow {
  overflow: hidden;
}

.search-results-card {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 18em;
}

.search-results-card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253);
}

.search-results-card-img {
  height: 18em;
  transform: scale(1);
  transition: transform 0.5s ease;
}

.search-results-card-img:hover {
  transform: scale(1.8);
}

.search-results.button {
  background-color: lightslategray;
}

/** Album Component Styles */

.album-image-col {
  justify-content: center;
}

.album-details {
  margin-top: 2em;
}

.album-details p {
  margin: 0em;
  font-size: 1rem;
}

.album-master-logo-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.album-master-logo {
  max-width: 45%;
  max-height: 45%;
  float: right;
}

.album-images-button {
  margin-top: .70em;
}

.album-add-buttons-col {
  margin-top: .5em;
}

.album-add-buttons-row {
  margin-top: 2em;
}

/** AlbumTracks Component Styles */

.album-tracks-row {
  margin-top: 2.2em;
}

.album-tracks-thead {
  font-weight: 400;
  color: #FFFFFF;
  background-color: #343A40;
  padding: .3em .3em .3em .5em;
}

/** AlbumReleasesHeader Component Styles */

.album-releases-header-row {
  margin-top: 2em;
}

.album-releases-header-h5-col {
  background-color: #343A40;
  padding-top: .1em;
}

.album-releases-header-button-col {
  background-color: #343A40;
  padding-top: .2em;
  padding-bottom: .2em;
}

.album-releases-header-thead {
  display: inline-flex;
  font-weight: 400;
  background-color: #343A40;
  color: #FFFFFF;
  margin-top: .3em;
  margin-bottom: .2em;
}

.album-releases-header-button {
  margin-top: .2em;
  margin-right: .4em;
  margin-bottom: .2em;
  float: right;
}

/* AlbumReleases Component styles */

.album-releases-img {
  height: 5em;
  width: 5em;
}

/** AlbumRelease Component Styles */

.album-release-image-col {
  justify-content: center;
}

.album-release-details {
  margin-top: 2em;
}

.album-release-details p {
  margin: 0em;
  font-size: 1rem;
}

.album-release-images-button {
  margin-top: .70em;
}

.album-release-add-buttons-col {
  margin-top: .5em;
}

.album-release-add-buttons-row {
  margin-top: 2em;
}

/** AlbumReleaseTracks Component Styles */

.album-release-tracks-row {
  margin-top: 2.2em;
}

.album-release-tracks-thead {
  font-weight: 400;
  color: #FFFFFF;
  background-color: #343A40;
  padding: .3em .3em .3em .5em;
}